<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
    <link rel="icon" href="https://lh3.googleusercontent.com/D_D_7N5ygtO2OGhRsDe3rdvqgTy4jFUnzrmMe2MElu133oQuAPf0S8Vk59AVyiGqszIMKfFQNz0mRkneM2tCeI7jFAzY3KQJZLI65UwfeTnlpfyWDJU97XtkCQBBDBE9Igb7exQEpEGmnj03HbmLb8y_fRypUSmI-hBjm4CIvw8i57MG57ATPESlAfoUgxiGpmO3QB2J3w8jz63VQWRfHco411bjN5i9O3Fpv-UoYmKFkX-kg7KTDRnBtlRCC-zHLnoikYt1bytoYi6CkEtwi_Bperdw8uk_602E5Pk2F6UeP--_q-1TT_v6qiZ_shIkX43BOK0IGjqY6YWL52HrBUqo0EiGyvCRCE7iga-tAqx7aAYhozvvAGItAaqTH-RM0ElV74wgrpF2bAgPwi-ntsO93nA5GaVF2CVP3c7zsz_Is_9Eeav2WVWTQLKKHG88TAtDqgDm59nygFP8cpko5KvUlKbq3f7eHRfrrmf9yIaPWLS1brYVkWLC9QGcXbeli4en9vpw3uJQ8FN7nC7PZI26zcv07gcv53wqKiGlYR4sBiUtB2_ohIyh-SOFjl5bzD8XXB1LpbiRBTZRfHXaKcl8BJlJmWGx2FDbDlzRfrZT2zFx41VlDxJ7B9VfQEsSP5hLqxgddXOfNM4Vx5DPpe3kC7I4KHYZmMLsbBcldeOv0to9XWhmqj0B1wxfGkYL4QBPCCoTAB3vYYR_ZUkQeGwlpkCoThJBefi9f59NiULcloSXLjESyLi_UkyTkknvx0G_Ws_WZzgKNkxdtuqteQ8FvfD_H-ysetIbwokNMbiJJFImrPuGVk2fl7RMA0WrNlfksASOrT-eOwt8Ja-H5z3QMmjZHe5q09__gdsAFg=s512-no?authuser=0">

</head>
<body>

{% block body %} {% endblock %}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>