<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>School App - {{ title }}</title>
    {% else %}
        <title>School App</title>
    {% endif %}

    <link rel="icon" href="https://lh3.googleusercontent.com/D_D_7N5ygtO2OGhRsDe3rdvqgTy4jFUnzrmMe2MElu133oQuAPf0S8Vk59AVyiGqszIMKfFQNz0mRkneM2tCeI7jFAzY3KQJZLI65UwfeTnlpfyWDJU97XtkCQBBDBE9Igb7exQEpEGmnj03HbmLb8y_fRypUSmI-hBjm4CIvw8i57MG57ATPESlAfoUgxiGpmO3QB2J3w8jz63VQWRfHco411bjN5i9O3Fpv-UoYmKFkX-kg7KTDRnBtlRCC-zHLnoikYt1bytoYi6CkEtwi_Bperdw8uk_602E5Pk2F6UeP--_q-1TT_v6qiZ_shIkX43BOK0IGjqY6YWL52HrBUqo0EiGyvCRCE7iga-tAqx7aAYhozvvAGItAaqTH-RM0ElV74wgrpF2bAgPwi-ntsO93nA5GaVF2CVP3c7zsz_Is_9Eeav2WVWTQLKKHG88TAtDqgDm59nygFP8cpko5KvUlKbq3f7eHRfrrmf9yIaPWLS1brYVkWLC9QGcXbeli4en9vpw3uJQ8FN7nC7PZI26zcv07gcv53wqKiGlYR4sBiUtB2_ohIyh-SOFjl5bzD8XXB1LpbiRBTZRfHXaKcl8BJlJmWGx2FDbDlzRfrZT2zFx41VlDxJ7B9VfQEsSP5hLqxgddXOfNM4Vx5DPpe3kC7I4KHYZmMLsbBcldeOv0to9XWhmqj0B1wxfGkYL4QBPCCoTAB3vYYR_ZUkQeGwlpkCoThJBefi9f59NiULcloSXLjESyLi_UkyTkknvx0G_Ws_WZzgKNkxdtuqteQ8FvfD_H-ysetIbwokNMbiJJFImrPuGVk2fl7RMA0WrNlfksASOrT-eOwt8Ja-H5z3QMmjZHe5q09__gdsAFg=s512-no?authuser=0">
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <img src="https://lh3.googleusercontent.com/g5Y3D5fgjvJf0KeE4KslnbSqEt3TLzlJRDmpT1wRa_FIPLo7cAc2Qp9Gb3Ao7rB3mYQ5mFeidOw8lf4CDTnZ26dv8HNF9LbAU9hcrGvffP_TGtkMbNrkHPI-1Snguap7SFqn8r0L8Cez9dMYt761ajWXxZav790Njqdev_Cp51bdnVdCVYGlOtG-kVzrT8mOQU_motYaPZErVqMa_YePHPofuoLgDf8KylJPvHeFlRKN_N2CRaSsF2U2kXMZYLDImHdQySBTfJS8lyjD6LFr7srGEVbbSQ0e8N5yNMsMGt7QFNbWHOQDtWaThQ0ESBGTuzIZ0AknsmF-rXGb8Glzn4pGnpsTswRiX9ahBiQNPIEigr5gn2Em5R0PiAmZ4hE_PYKzSM8TEbrWCskgYGrSA_hZM4eMG_QEl_1Ii2Ah4kQZw3wfIRq9QFxosiug5nfSQCcEKm10CKhFF18U5ak42EKQVO1Q_72KPiJDNN3EMF0jAj0nfQ3Bd9RTGRu2W_RPhKwVak_MoCQS6gRLuyLg70jac5g_fTyusVopHyBBV_W1K2X7xqeK87BHSv0dpZWRh8QTE5D2VXJtIfmM32K3HCw5cas0o-ELqJfFID2tNdK1wAvFI76HxShtVToKnYXcF9fepjclJyXFhWlDAtv5eMCf99ckVeLasi0R89Pbn1kTBQdbHrtXRu4BO7vW6NaXXG8Y2nPRg6vOR-5ACPrBRk6owKlqH_jqnxGK5xVjmo02Asex9VWtvrL25n33LEbFmwbWMEVC1evQNc-5Up8UTXyX60f6NdHbkUiEJayPrpkG48mEsSE21EMMc2D9m8tFhtXuhiUPgPxBd5OznHaUfSEerqkGSA9sD3RlzDkT_w=s512-no?authuser=0"
            alt="Logo" width="50" height="50" style="margin-right:20px">
            <a class="navbar-brand mr-4" href="/">MekTAB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for("home") }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for("about") }}">About</a>
                    <a class="nav-item nav-link" href="{{ url_for("index") }}">Admin page</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for("account") }}">Account</a>
                        <a class="nav-item nav-link" href="{{ url_for("logout") }}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for("login") }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for("register") }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>